@import "./_variables";
@import "./_base";
@import "./_layouts";
@import "./_lib";

@import "./site/site-head";

article {
  max-width: 800px;
  margin: space(3) auto;
  padding: 0 space(2);

  @media (--medium) {
    padding: 0;
  }
}

h1 > strong {
  color: purple;
}

.nav-list {
  @mixin delist;
}
